<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  </head>
  <body>

    <header><a href="/">Web platform missing reference pages</a></header>

    <nav>
      <ul>
        <li><a href="/recent/">Newly available features</a></li>
        <li><a href="/baseline/">Widely available features</a></li>
        <li><a href="/limited/">Limited availability features</a></li>
         <li><a href="/fresh/">Freshly implemented features</a></li>
        <li><a href="/all/">All features</a></li>
      </ul>
    </nav>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>Generated on {{ versions.date }} using <a href="https://github.com/mdn/browser-compat-data/">browser-compat-data</a> <code>{{ versions.bcd }}</code></p>
      <p>Source code: <a href="https://github.com/Elchi3/web-docs-backlog">web-docs-backlog</a> (forked from <a href="https://github.com/web-platform-dx/web-features-explorer">web-platform-dx/web-features-explorer</a>).</p>
    </footer>

  </body>
</html>
