---
title: Widely available features with missing reference documentation
layout: layout.njk
---

<h1>{{ title }}</h1>

<p>{{baselineFeatures.length }} features found.</p>

<ul class="features">
  {% for feature in baselineFeatures %}
    <li>
      {% include "feature_short.njk" %}
    </li>
  {% endfor %}
</ul>
