---
title: Freshly implemented features with missing reference documentation
layout: layout.njk
---
<h1>{{ title }}</h1>

<p>Fresh means implemented recently in either Chrome 120+ or Firefox 120+ or Safari 17+.</p>
<p><strong>Bug</strong>: Doesn't yet list any pre-release features because of web-features <a href="https://github.com/web-platform-dx/web-features/issues/1275">issue #955</a>.</p>

<p>{{freshFeatures.length }} features found.</p>

<ul class="features">
  {% for feature in freshFeatures %}
    <li>
      {% include "feature_short.njk" %}
    </li>
  {% endfor %}
</ul>
