---
title: Freshly implemented features with missing reference documentation
layout: layout.njk
---
<h1>{{ title }}</h1>

<p>Fresh means implemented recently in either Chrome 120+ or Firefox 120+ or Safari 17+.</p>

<p>{{freshFeatures.length }} features found.</p>

<ul class="features">
  {% for feature in freshFeatures %}
    <li>
      {% include "feature_short.njk" %}
    </li>
  {% endfor %}
</ul>
